@model List<MyAlloySite.DTO.FilterModel>
<div class="control-group">
    @foreach (var item in Model)
    {
        <div class="row">
            <h3>@item.DisplayName</h3>
        </div>
        foreach (var option in item.Options)
        {
            <div class="d-flex">
                <label>
                    <input class="filter_data" style="margin-bottom:2px" type="checkbox" data-filter-type="@option.FilterType" data-filter-attribute="@option.FilterAttribute" />
                    <span>@option.DisplayOption</span>
                </label>
            </div>
        }
    }
</div>
