@model List<MyAlloySite.Models.ViewModels.SortModel>
<div class="sorting" style="float:right; padding:30px">
    <select name="sorting" id="sorting-product">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Name</option>
        }
    </select>
</div>
