@model List<MyAlloySite.Models.ViewModels.SortModel>
<div class="sorting">
    <select class="form-select" aria-label="Default select example" id="sorting-product">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Name</option>
        }
    </select>
</div>
